.character-item {
  font-family: 'StarWars', sans-serif;
  font-size: 3rem;
  color: #eaeaea;
  transition: .2s ease;
}

.character-item:hover {
  text-decoration: none;
  color: #5f5f5f;
}

.character-item div {
  padding-bottom: 50px;
  line-height: 90%;
}
